@font-face {
  font-family: norse;
  src: url(./asset/Norse-Bold.otf);
}

@font-face {
  font-family: alexandria;
  src: url(./asset/Alexandria-Light.woff2);
}

@font-face {
  font-family: alexandria-bold;
  src: url(./asset/Alexandria-SemiBold.woff2);
}

:root {
  --white: rgb(255,255,255);
  --background: rgb(249, 250, 251);
  --contentWidth: 66%;
  --contentHeight: 100%;
}

/* Left side */
body {
  font-family: alexandria;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.sidebar {
  background-image: url("./asset/cherry.jpg");
  background-size: cover;
  background-position: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  flex: 1 1 33%;
}

.odin {
  font-family: norse, sans-serif;
  font-size: clamp(2rem, 4vw + 3rem, 8rem);
  margin-top: clamp(15rem, 20vh, 20rem);
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: clamp(2rem, 4vw + 2rem, 5rem);
  min-height: 85%;
  background-image: url(asset/odin-lined.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

a:any-link {
  color: var(--white);
}

.credit {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}



/* Right side */

.content {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 66%
}

.content > * {
  padding-left: max(2rem, 27vw - var(--contentWidth) / 2);
}

.intro {
  width: clamp(40ch, 70%, 75ch);
  padding-bottom: max(3rem, 25vw - var(--contentHeight) / 2);
  ;
}

h2 {
  font-size: clamp(0.75rem, 2vw + 1rem, 1.75rem);
  font-weight: 1000;
}

.form {
  background-color: var(--white);
  box-shadow: 0 3px 2px lightgray;
  padding-bottom: max(3rem, 25vw - var(--contentHeight) / 2);
}

form {
  display: flex;
  gap: 6vw;
}

.left,
.right,
.input {
  display: flex;
  flex-direction: column;
}

form > * {
  gap: 3vh;
}

input {
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input:focus:valid {
  border: 2px solid green;
}

input:focus:invalid {
  border: 2px solid red;
}

.foot {
  padding-top: 2rem;
  width: max-content;
}

button {
  font-size: 1rem;
  font-weight: 1000;
  padding: 0.85rem 2.75rem;
  background-color: rgb(242, 190, 202);
  border-radius: 7px;
  border: 1px solid grey;
}

.foot a:any-link {
  color: rgb(242, 190, 202);
  font-family: alexandria-bold;
  font-weight: 1000;
  text-decoration: none;
}